#shop{margin: auto;position: relative;width: 960px; top:100px;height: auto;}
#s_box{left:0px; width:960px; height:auto; float: left; position: relative;}
#s_box ul li{width: 200px; height: 180px; float: left;position: relative; margin: 20px 20px 20px 20px;}
#s_box ul li a{width: 200px; height: 180px; float:left; font-size: 30px; text-align: center; line-height: 180px; color: #000; text-decoration: none;background: url("/static/img/sidebar3.png");;}
#s_box ul li a:hover{background: #f47920;}